<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% if value:%}
    <h1>Welcome {{df['firstname'][0]}} {{df['lastname'][0]}}  </h1>
    
        
    <h2>you are already registered kindly login</h2>
    <form action="/" ><button class="button_size" type="submit">go to login screen</button>
    </form>
     {% else %}
    <h1>Registration Successful</h1>
    <h2>kindly login</h2>
    <form action="/" ><button class="button_size" type="submit">go to login screen</button>
    </form>
    {% endif %}
</body>
</html>
