<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Register here</h1>
<div class="yellow">
    <form action="/confirm" method="post">
    <label class="first">enter full name:</label>
    <input type="text" name="firstname" placeholder="First Name" required /><br><br>
    <label class="first">enter last name:</label>
    <input type="text" name="lastname" placeholder="Last Name"/><br><br>
    <label class="first">enter user mobile:</label>
    <input type="number" name="mobile"placeholder="mobile no." pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required/><br><br>
    <label class="first">enter email id:</label>
    <input type="text" name="email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"/><br><br>
    <label class="first">enter password:</label>
    <input type="text" name="password" placeholder="set password" required/><br><br>
    <label class="first">gender:</label>
    <input type="radio" name="gender" value="Male" required/>
    <label for="Male">Male</label>
    <input type="radio" name="gender" value="Female"/>
    <label for="Female">Female</label><br>
    <div id="submit"><button class="button_size" type="submit" >Register</button>
    </div>
</form>
</div>
<a href="/">reload</a>
</body>
</html>